# Discord bot token https://discord.com/developers/applications
BOT_TOKEN=

# Spotify client id and client secret https://developer.spotify.com/
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Genius API Access Token https://docs.genius.com/
GENIUS_ACCESS_TOKEN=